.about__wrapper {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 4rem;
}

.about__wrapper * {
  font-family: "EB Garamond", serif;
  line-height: 1.4;
  box-sizing: border-box;
  vertical-align: baseline;
}

.about__wrapper h1 {
  font: 50px/1 "Playfair Display SC";
  text-align: center;
}

@media (min-width: 700px) {
  .about__wrapper h1 {
    font: 70px/1 "Playfair Display SC";
  }
}

.about__wrapper h3 {
  font: italic 20px var(--font-title);
  margin-bottom: 1rem;
}

.about__wrapper h3 {
  font: 20px/1.2 var(--font-title);
}

.about__wrapper h4 {
  font: 700 20px/1 var(--font);
  transition: 0.3s ease;
}

.sidebar-item:hover h4 {
  background-color: var(--ink);
  color: #f4f7f7;
}

.about__wrapper p {
  line-height: 1.3;
  font-size: 18px;
}

.about__wrapper p a {
  display: inline;
}

/* ######################## ABOUT PAGE ######################## */
.about-page h1,
.about-page aside {
  grid-column: 1/-1;
}

.about-page aside {
  text-align: center;
  padding: 3px 0;
  border: solid var(--color);
  border-width: 2px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 1.5rem 0;
}

.about-page aside>div {
  display: flex;
  align-items: center;
  border: solid var(--color);
  border-width: 1px 0;
}

.about-page aside>div>div {
  flex: 1;
  padding: 8px;
}

.about-page img {
  width: 100%;
  filter: grayscale(95%);
  margin-bottom: 0.5rem;
  border: 1px solid var(--color);
  transition: 0.3s ease;
}

/* ######################## STYLES ######################## */
figcaption {
  font-style: italic;
}

figure {
  height: 100%;
}

.title--heading {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-style: italic;
  text-align: left;
  margin-bottom: 0.8rem;
}

.main-text.multi-column {
  margin: 0;
}

.main-text.multi-column p {
  margin-bottom: 0.8rem;
  padding-bottom: 1rem;
}

.multi-column {
  column-count: 2;
  column-gap: 1.3rem;
}

.paragraph {
  margin-top: 1.5rem;
}

.paragraph h3 {
  font-size: 24px;
  text-align: left;
  margin-bottom: 0.5rem;
  transition: 0.2s ease;
}

.paragraph:hover h3 {
  color: white !important;
  background: var(--ink);
}

.active-p h3 {
  color: white !important;
  background: var(--ink);
}

.web-developer {
  display: flex;
  border-top: 1px solid;
  padding-top: 1rem;
  grid-column: 1/-1;
  grid-row: 8;
}

.web-developer h3 {
  margin: 0 0 0.8rem;
}

.img--flex {
  flex: 0 0 40%;
}

.web-developer__content {
  flex: 0 0 30%;
  padding: 0 1rem;
}

.web-developer img {
  height: 100%;
  object-fit: cover;
}

.web-developer p a {
  border-bottom: 1px dashed;
}

.web-developer p a:hover {
  border-bottom: 1px solid;
}

.bottom-space {
  padding-bottom: 1rem;
}

.about-page .umCar--img:hover img,
.about-page .pacman--img:hover img,
.about-page .web-developer__image:hover img {
  filter: grayscale(0);
}

.active-img {
  filter: grayscale(0) !important;
}

.with-border {
  border-top: 1px solid;
  padding-top: 0.3rem;
}

.separation-null {
  margin: 0 !important;
  padding: 0 !important;
}

.column--2 {
  grid-column: span 2;
}

.column--32 {
  grid-column: 3/span 2;
}

.pacman--img {
  grid-column: 1/span 2;
  grid-row: 5/span 2;
}

.umCar--img {
  grid-column: 3/span 2;
  grid-row: 6/span 2;
}

.pacman--img img,
.umCar--img img {
  height: 100%;
  object-fit: cover;
}

.ticket {
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 1px var(--ink);
  display: block;
  margin: .9rem auto;
  outline: 3px solid var(--ink);
  overflow: hidden;
  text-align: center;
  width: calc(100% - 4px);
}

.ticket__title {
  font: 800 24px/1 var(--font-sans-serif);
  text-transform: uppercase;
  background: var(--ink);
  color: var(--gray);
  padding: 0.8rem 0.8rem 0.9rem;
  transition: 0.2s ease;
}

.ticket:hover .ticket__title {
  background: transparent;
  color: var(--ink);
}

.dark-theme .ticket:hover {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.35);
}

/* ######################## DROP CAP ######################## */
.drop-cap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.25rem;
  float: left;
  line-height: .75;
  font-size: 2.7rem;
  font-style: normal;
  border: 2px solid var(--color);
  padding: 0.4em 0.45em;
  min-width: 4.3rem;
  min-height: 5.9rem;
  margin: 0 0.2em 0.075em 0;
}

.drop-cap:after,
.drop-cap:before {
  content: "";
  background-color: var(--color);
  position: absolute;
}

.drop-cap:before {
  width: 1px;
  height: calc(100% - 0.2em);
  top: +0.09em;
  right: 0.1em;
}

.drop-cap:after {
  width: calc(100% - 0.1em);
  height: 1px;
  left: 0;
  bottom: 0.1em;
}

.rubik__container {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/* ######################## MEDIAS QUERIES ######################## */
@media (min-width: 768px) {
  .about-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 23%;
    grid-template-rows: repeat(5, auto);
    grid-gap: 1.2rem;
  }

  .about-page aside {
    margin: 0;
  }

  .paragraph {
    margin: 0;
  }


  .title--heading {
    font-size: 42px;
    margin: 0;
    grid-column: 1/span 4;
  }

  .about-page .main-text {
    grid-column: span 2;
  }
}

@media (max-width: 767px) {
  .about__wrapper {
    padding-bottom: 0;
  }

  .about-page {
    padding: 1.5rem;
  }

  .about-page img {
    margin-bottom: 0;
  }

  .about-page p {
    text-align: unset !important;
    font-size: 18px;
  }

  .img--flex {
    flex: none;
  }

  .web-developer {
    flex-direction: column;
  }

  .web-developer__content {
    padding: 1rem 0;
    flex: none;
  }

  .multi-column {
    column-count: unset;
  }

  .rubik-container {
    min-height: 280px;
  }

  .drop-cap {
    height: 4.9rem;
  }

  .drop-cap:before {
    height: calc(100% - 0.1em);
    top: 0;
  }
}

@media (min-width: 1024px) {
  .border--botton {
    border-bottom: 1px solid;
  }

  .title--heading {
    grid-column: 1/-2;
  }

  .about-page .main-text {
    grid-column: span 2;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about-page {
    padding: 0 1.25rem;
  }

  .about-page .web-developer {
    display: grid;
    grid-row: unset;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 1.2rem;
  }

  .ticket__title {
    font: 800 18px/1 var(--font-sans-serif);
  }

  .rc-titulo {
    grid-row: 2;
    grid-column: 1/-1;
  }

  .rc-text {
    grid-column: 1;
  }

  .rc-tech {
    grid-row: 1;
    grid-column: 2/-1;
  }
}