:root {
  --font: "EB Garamond", serif;
  --font-title: "Playfair Display", serif;
  --font-sans-serif: "Manrope", sans-serif;
  --black: #1c1f33;
  --black--acc: #222;
  --gray: #eee;
  --gray-1: #ededed;
}

.about__wrapper {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 4rem;
}

.about__wrapper * {
  font-family: "EB Garamond", serif;
  line-height: 1.4;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.about__wrapper h1 {
  font: 50px/1 "Playfair Display SC";
  text-align: center;
}

@media (min-width: 700px) {
  .about__wrapper h1 {
    font: 70px/1 "Playfair Display SC";
  }
}

.about__wrapper h3 {
  font: italic 20px var(--font-title);
  margin-bottom: 1rem;
}

.about__wrapper h4 {
  font: 20px/1.2 var(--font-title);
}

.about__wrapper h5 {
  font: 700 20px/1 var(--font);
  transition: 0.3s ease;
}

.about__wrapper p {
  line-height: 1.3;
}

.about__wrapper p a {
  display: inline;
}

@media (min-width: 700px) {
  #about-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 23%;
    grid-template-rows: repeat(5, auto);
    grid-gap: 1.2rem;
  }
}

@media (max-width: 700px) {
  #about-page {
    padding: 1.5rem;
  }
}

#about-page h1,
#about-page aside {
  grid-column: 1/-1;
}

#about-page aside {
  text-align: center;
  padding: 3px 0;
  border: solid var(--dark);
  border-width: 2px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 1.5rem 0;
}

@media (min-width: 700px) {
  #about-page aside {
    margin: 0;
  }
}

#about-page aside>div {
  display: flex;
  align-items: center;
  border: solid var(--dark);
  border-width: 1px 0;
}

#about-page aside>div>div {
  flex: 1;
  padding: 8px;
}

#about-page p {
  text-align: justify;
  font-size: 18px;
}

.title--large {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-style: italic;
  text-align: left;
  margin-bottom: 0.8rem;
}

figcaption {
  font-style: italic;
  /* font-size: 90%; */
}

.terrarium {
  margin: 1.5rem 0;
}

figure {
  height: 100%;
}

/* .terrarium figure {
  height: 100%;
}

.terrarium img {
  height: 96%;
  object-fit: cover;
  object-position: right;
} */

.main-text.multi-column {
  margin: 0;
}

.main-text.multi-column p {
  margin-bottom: 0.8rem;
  padding-bottom: 1rem;
}

.multi-column {
  column-count: 2;
  column-gap: 1.3rem;
}

#about-page img

/* ,
#about-page .face */
  {
  width: 100%;
  filter: grayscale(95%);
  margin-bottom: 0.5rem;
  border: 1px solid var(--dark);
  transition: 0.3s ease;
}

/* -------------------- */
.item-with-image {
  margin-top: 1.5rem;
}

.item-with-image h4 {
  font-size: 24px;
  text-align: left;
  margin-bottom: 0.5rem;
  transition: 0.2s ease;
}

@media (min-width: 700px) {
  .item-with-image {
    margin: 0;
  }
}

.item-with-image:hover h4 {
  color: white !important;
  background: var(--black);
}

.cssgrid-collection {
  display: flex;
  /* align-content: stretch; */
  border-top: 1px solid;
  padding-top: 1rem;
}

#about-page .cssgrid-collection {
  grid-column: 1/-1;
  grid-row: 8;
}

.cssgrid-collection h4 {
  margin: 0 0 0.8rem;
}

.img--flex {
  flex: 0 0 40%;
  /* margin-right: 1.5rem; */
}

.cssgrid-collection__content {
  flex: 0 0 30%;
  padding: 0 1rem;
}

.cssgrid-collection img {
  height: 100%;
  object-fit: cover;
}

.cssgrid-collection p a {
  border-bottom: 1px dashed;
}

.cssgrid-collection p a:hover {
  border-bottom: 1px solid;
}

@media (min-width: 700px) and (max-width: 1024px) {
  #about-page .plan {
    grid-column: span 4;
  }

  .plan {
    grid-column: span 3;
    margin: 0 0 1.5rem;
  }
}

.plan {
  padding-bottom: 1rem;
}

@media (min-width: 1024px) {
  .border--botton {
    border-bottom: 1px solid;
  }
}

#about-page .pie:hover img,
#about-page .social:hover img,
#about-page .umCar--img:hover img,
#about-page .terrarium:hover img,
#about-page .pacman--img:hover img,
#about-page .toggles:hover img,
#about-page .workout:hover img,
#about-page .cssgrid-collection__image:hover img {
  filter: grayscale(0);
}

.span--2 {
  grid-column: span 2;
}

.span--32 {
  grid-column: 3/span 2;
}

.long--2 {
  grid-row: 1/span 2;
}

.pacman--img {
  grid-column: 1/span 2;
  grid-row: 5/span 2;
}

.umCar--img {
  grid-column: 3/span 2;
  grid-row: 6/span 2;
}

.pacman--img img,
.umCar--img img {
  height: 100%;
  object-fit: cover;

}

/* SIDEBBAR */
@media (min-width: 700px) {
  main .sidebar {
    grid-column: 1/-1;
  }
}

@media (min-width: 1024px) {
  main .sidebar {
    grid-row: 3/8;
    grid-column: 5/6;
  }
}

.sidebar {
  margin-top: 3rem;
}

@media (min-width: 700px) and (max-width: 1024px) {
  .sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
  }

  .sidebar h3 {
    width: 100%;
    text-align: center;
  }

  .sidebar>a {
    flex: 0 1 48%;
    margin: 1.5rem 0;
    padding: 0;
  }

  .sidebar .slack-ui {
    border-top: 0;
  }

  .sidebar .pie {
    order: 3;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    display: block;
    border-left: 1px solid;
    padding-left: 1.2rem;
    margin: 0;
  }
}

.sidebar-item {
  margin: 2rem 0;
  padding: 2rem 0 0;
}

.sidebar-item h5 {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  margin: auto;
}

.sidebar-item p {
  margin-top: 1rem;
}

.sidebar-item:hover h5 {
  transition: 0.3s ease;
  background: var(--black);
  color: #fff;
}

.hogwarts {
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 1px var(--black);
  margin: 1.5rem auto;
  outline: 3px solid var(--black);
  overflow: hidden;
  text-align: center;
  width: calc(100% - 4px);
  display: block;
}

.hogwarts__title {
  font: 800 24px/1 var(--font-sans-serif);
  text-transform: uppercase;
  background: var(--black);
  color: var(--gray);
  padding: 0.8rem 0.8rem 0.9rem;
  transition: 0.2s ease;
}

.hogwarts:hover .hogwarts__title {
  background: transparent;
  color: var(--black);
}

/* -------------------------------- */
/* MEDIAS */
@media (min-width: 700px) {
  .title--large {
    font-size: 42px;
    margin: 0;
  }

  #about-page .main-title {
    grid-column: 1/-1;
  }

  #about-page .main-text {
    grid-column: span 5;
  }

  #about-page .terrarium {
    grid-column: 1/-1;
  }

  .terrarium {
    margin: 0 0 1.5rem;
  }
}

@media (min-width: 1024px) {
  #about-page .main-title {
    grid-column: 1/-2;
  }

  #about-page .main-text {
    grid-column: span 2;
  }

  #about-page .terrarium {
    grid-column: 3/span 2;
  }
}

@media (max-width: 700px) {
  .cssgrid-collection {
    flex-direction: column;
  }

  .img--flex {
    flex: none;
  }

  .cssgrid-collection__content {
    padding: 1rem 0;
    flex: none;
  }

  .sidebar {
    border-top: 1px dashed;
    padding-top: 1rem;
    margin: 1rem 0;
  }
}

/* CAP */
.drop-cap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.25rem;
  float: left;
  line-height: .75;
  font-size: 2.7rem;
  font-style: normal;
  border: 2px solid #000;
  padding: 0.4em 0.45em;
  min-width: 4.3rem;
  min-height: 5.9rem;
  margin: 0 0.2em 0.075em 0;
}

.drop-cap:after,
.drop-cap:before {
  content: "";
  background-color: #000;
  position: absolute;
}

.drop-cap:before {
  width: 1px;
  /* height: calc(100% - 0.1em);
  top: 0; */
  height: calc(100% - 0.2em);
  top: +0.09em;
  right: 0.1em;
}

.drop-cap:after {
  width: calc(100% - 0.1em);
  height: 1px;
  left: 0;
  bottom: 0.1em;
}

/* RUBIK CUBE */
.rubik-container {
  align-items: center;
  background-color: #efefef;
  /* border: 3px double #000; */

  border: 2px solid transparent;
  outline: 3px solid var(--dark);
  box-shadow: inset 0 0 0 1px var(--dark);

  display: flex;
  justify-content: center;
  height: 98%;
}

@media screen and (max-width: 700px) {
  #about-page img {
    margin-bottom: 0;
  }

  #about-page p {
    text-align: unset;
    font-size: 18px;
  }

  .multi-column {
    column-count: unset;
  }

  .rubik-container {
    min-height: 280px;
  }
}

.rubik-cube {
  width: 140px;
  height: 140px;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateX(0deg) rotateY(0deg);
  animation: rotate 10s infinite linear;
}

.rubik-cube:hover {
  animation-play-state: paused;
}

.face {
  position: absolute;
  width: 140px;
  height: 140px;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.top {
  transform: translateZ(70px) rotateY(0deg);
  background: url('https://res.cloudinary.com/drsfru9lj/image/upload/v1693134306/Portafolio/4_bjkgci.png');
  background-size: cover;
}

.bottom {
  transform: translateZ(-70px) rotateY(180deg);
  background: url('https://res.cloudinary.com/drsfru9lj/image/upload/v1693134306/Portafolio/4_bjkgci.png');
  background-size: cover;
}

.left {
  transform: translateX(-70px) rotateY(-90deg);
  background: url('https://res.cloudinary.com/drsfru9lj/image/upload/v1693134306/Portafolio/2_teyfzm.png');
  background-size: cover;
}

.right {
  transform: translateX(70px) rotateY(90deg);
  background: url('https://res.cloudinary.com/drsfru9lj/image/upload/v1693134307/Portafolio/1_lb3rlc.png');
  background-size: cover;
}

.front {
  transform: translateY(-70px) rotateX(90deg);
  background: url('https://res.cloudinary.com/drsfru9lj/image/upload/v1693134306/Portafolio/5_ajq59e.png');
  background-size: cover;
}

.back {
  transform: translateY(70px) rotateX(-90deg);
  background: url('https://res.cloudinary.com/drsfru9lj/image/upload/v1693134306/Portafolio/3_amibcy.png');
  background-size: cover;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}