:root {
  --theme: light;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  /* FONTS */
  --font: "EB Garamond", serif;
  --font-title: "Playfair Display", serif;
  --font-sans-serif: "Manrope", sans-serif;
  --font1: 'Teko', sans-serif;
  /* COLORS */
  --oposite: #fff;
  --color: #1c1f33;
  --ink: #1c1f33;
  --background: #F4F7F7;
  --havelock__blue: #5190d9;
  --hippie: #519Faa;
  --neptune: #7AC3B2;
  --guay-con-neptuno: #c3eae4;
  --lightGray: rgba(255, 255, 255, .17);
  --black: #000;
  --stone: rgb(27, 27, 27, .8);
  --white: #fff;
  --mine__shaft: #222;
  --gray: #eee;
  --prim: #eddde8;
  --shiraz: #ca0541;
  --error: linear-gradient(#FFD33B, #FFAE00);
  --blue: #3F6689;
  --squeeze: #e1eaf4;
  --moon__raker: #edc0f4;
  --french__lilac: #eddaf4;
  --perfume: #efaaf4;
  --deco: #d0d884;
  --link__water: #d0d8f4;
  --athens__gray: #f0eff4;

  --invert: invert(0);

  /* URLs */
  --crisp: url(https://res.cloudinary.com/drsfru9lj/image/upload/v1687285497/Portafolio/crisp_q9lzph.png);
  --logo: url(https://res.cloudinary.com/drsfru9lj/image/upload/v1692092677/Portafolio/cubo-rubik-green_nwbsyc.png);
  --brush__circule: url(https://res.cloudinary.com/drsfru9lj/image/upload/v1692129677/Portafolio/circulo-green_aznxxl.svg);
  --specks: url(https://res.cloudinary.com/drsfru9lj/image/upload/v1693336872/Portafolio/background-motitas_lu8s4g.png);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font1);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

u {
  text-decoration-color: var(--hippie);
}

::selection {
  background-color: var(--hippie);
  color: #fff;
}

.light-theme {
  --oposite: #fff;
  --color: #1c1f33;
  --ink: #1c1f33;
  --stone: rgb(27, 27, 27, .8);
  --error: linear-gradient(#FFD33B, #FFAE00);
  --invert: invert(0);
}

.dark-theme {
  --oposite: #000;
  --color: #f4f7f7;
  --ink: #519FAA;
  --error: linear-gradient(#222, #444);
  --stone: rgb(230, 230, 230);
  --invert: invert(1);

  & ::selection {
    background-color: var(--shiraz) !important;
    color: #000 !important;
  }

  & body {
    background-image: var(--crisp), radial-gradient(131.66% 120.77% at 50% 97.75%, #010314 47.41%, #63e 69.27%, #fff 100%) !important;
  }
}

.fa-sun.hidden {
  display: none;
}

.fa-moon.hidden {
  display: none;
}

body {
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background-image: var(--crisp), linear-gradient(var(--background), var(--background));
  background-image: var(--crisp), radial-gradient(131.66% 120.77% at 50% 87.75%, #e8e3da 47.41%, #E2D7C1 69.27%, #fff 100%);
  /* background-image: var(--crisp), radial-gradient(131.66% 120.77% at 50% 97.75%, #010314 47.41%,#63e 69.27%,#fff 100%); */
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  color: var(--color);
  background-attachment: fixed;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

#app {
  min-height: 73.1svh;
  text-align: unset;
}

@media screen and (max-width: 500px) {
  #app {
    min-height: 81.5vh;
  }
}

#app.justify-text {
  text-align: justify;
}

.applied {
  color: var(--shiraz);
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: inline-block;
  left: 0%;
  margin-bottom: 0;
  padding: 29px;
  position: sticky;
  right: 0%;
  top: 0;
  width: 100%;
  z-index: 100;
}

header a {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: .1rem;
  padding: 1rem;
  transition: all .25s ease-in-out;
}

.nav-link {
  border-radius: 100px;
  min-width: 100px;
  text-align: center;
}

.nav-1 {
  display: flex;
  justify-content: center;
}

.nav-2 {
  background-color: #000;
  border-radius: 100px;
  border: 1px solid var(--lightGray);
  color: white;
  padding: 0.35rem;
}

.nav-3 {
  border-left: 1px solid var(--neptune);
  border-right: 1px solid var(--neptune);
  border-radius: 90px;

  display: flex;
  justify-content: center;
  width: fit-content;
  gap: .7rem;
}

.nav-section a:hover {
  color: var(--hippie);
}

.nav-section {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: .5rem;
}

#nav-logo-section {
  align-items: center;
  display: flex;
}

.nav-logo {
  background-image: var(--logo);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  border-radius: 90px;
  display: inline;
  padding: 30px 45px;
  transition: all .3s ease-in-out;
}

.active-home {
  filter: grayscale(0%) brightness(100%);
}

.nav-link.active-link {
  color: var(--hippie);
  transform: scale(0.98);
}

#nav-icons-section {
  border-radius: 90px;
}

.social-icons {
  display: flex;
}

#codepen:hover {
  color: var(--shiraz);
}

/* FOOTER */
footer {
  background-image: var(--crisp), linear-gradient(#2b2b2b, #111);
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 1.4rem 4rem;
  background-color: #000;
  color: #868686;
  justify-content: space-between;

  & p {
    letter-spacing: 1px;
  }
}

.footer-icons {
  display: flex;
  gap: 1.5rem;
  font-size: 1.25rem;
  justify-content: space-between;
  align-items: center;
}

.footer-icons>li>a {
  border: 1px solid #7AC3B2;
  padding: .5rem .6rem;
  display: flex;

  border-color: rgb(234, 234, 234, 0.4);
  border-radius: 1000rem;
  background-color: rgb(234, 234, 234, 0.1);

  transition: all 0.3s ease-in-out;
  transform: scale(1.15);
}

.footer-icons>li>a:hover {
  background-color: rgb(234, 234, 234, 0.2);
  color: #cdcdcd;
}

/* ---------------------------------------------- */
/* MENU */
.menu {
  display: none;
}

.menu-btn {
  border: none;
  background-color: transparent;
}

.no-overflow {
  overflow: hidden;
}

.menu-slider {
  height: auto;
  opacity: 1;
  overflow: hidden;
}

.menu-nav,
.menu-slider {
  transition: all 0.4s ease-in-out;
}

.menu-slider.hidden,
.menu-nav.hidden {
  opacity: 0;
  width: 0;
}

.menu-nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* ################################################ */
/* ################################################ */
.header__extra {
  display: flex;
  align-items: center;
}

.pen-nib__gear {
  align-items: center;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5%;
  z-index: 111;
}

.pen-nib__gear span {
  background-color: rgba(23, 23, 23, .98);
  border-radius: 10px;
  font-size: 1vw;
  font: 10px "Playfair Display", serif;
  line-height: 1;
  opacity: 0;
  padding: 14px 20px;
  pointer-events: none;
  position: absolute;
  right: 200%;
  transition: opacity .7s cubic-bezier(.23, 1, .32, 1);
  width: max-content;
}

.special-border {
  background-color: var(--ink);
  border: 1px solid #F4F7F7;
  box-shadow: inset 0 0 0 1px var(--ink);
  outline: 2px solid var(--ink);
}

.magic-menu {
  /* transition: max-height .7s cubic-bezier(.23, 1, .32, 1); */
  background-color: var(--ink);
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  margin-top: .4rem;
  max-height: 0;
  overflow: hidden;
  padding: 0.1rem .5rem;
  pointer-events: auto;
  position: absolute;
  right: -55%;
  top: 100%;
  transform: translateX(-50%);
  transition: max-height 0.4s ease-in-out;
  z-index: 111;
}

.magic-menu li {
  font: 16px "Playfair Display", serif;
  margin: 0 auto;
  padding: .2rem 0;
  width: max-content;
}

.magic-menu a {
  padding: 0;
}

.pen-nib__gear:hover span {
  opacity: 1;
  pointer-events: auto;
}

.nib-btn.active span {
  opacity: 0 !important;
}

.pen-nib__gear * {
  cursor: pointer;
}

.pen-nib__gear .nib-btn {
  align-items: center;
  background-color: transparent;
  border: none;
  color: #fff;
  display: flex;
  font-size: 1.3rem;
  height: 21px;
  padding: 1rem .5rem;
}

@media screen and (max-width: 768px) {
  .pen-nib__gear {
    position: relative;
  }

  .pen-nib__gear span {
    display: none;
  }

  .menu {
    display: block;
  }

  header {
    padding: 0;
  }

  .nav-1 {
    justify-content: left;
  }

  .nav-2 {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: transparent;
    border-radius: 0;
    border: none;
    width: 100%;
  }

  .nav-3 {
    align-items: center;
    border-radius: 0;
    border: none;
    justify-content: space-between;
    width: 100%;
  }

  .nav-section {
    display: none;
  }

  .nav-logo {
    border-radius: 0;
    border: none;
  }

  .bars-container {
    padding: 0 1rem;
    z-index: 100;
    position: relative;
  }

  .bar {
    background-color: var(--shiraz);
    width: 2em;
    height: 0.15em;
    margin-top: 0.3em;
    transition: all 0.4s ease-in-out;
  }

  .menu-slider {
    /* transform: translateX(100vw); */
    align-items: center;
    background-color: var(--oposite);
    color: var(--color);
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    visibility: hidden;
    width: 80%;
    z-index: 99;
  }

  .menu-slider.menu-mode {
    /* transform: translateX(0vw); */
    align-items: center;
    background-color: var(--oposite);
    color: var(--color);
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    visibility: visible;
    width: 80%;
    z-index: 99;
  }

  .menu-btn.menu-mode .bar:nth-child(1) {
    transform: translateY(3px) rotate(45deg);
  }

  .menu-btn.menu-mode .bar:nth-child(2) {
    transform: translateY(-3px) rotate(-45deg);
  }

  footer {
    padding: 1.4rem;
    gap: .5rem;
  }
}