:root {
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Teko', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo>a>img {
  width: 2.6rem;
}

#a {
  width: 4.2rem
}