.secret__wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0rem 5rem;
  text-align: center;
  min-height: inherit;
}

.secret-page {
  min-height: inherit;
}
.secret-page p {
  font-size: 1.5rem;
}