.secret__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .75rem;
}

.secret-page {
  max-width: 550px;
  width: 100%;
  padding: 20px;
  background-color: var(--background);
  color: var(--color);
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.secret-page h3 {
  margin-top: 20px;
  font-size: 1.5em;
  color: var(--ink);
}

.secret-page li,
.secret-page p {
  font-size: 1.25rem;
}

.how-to-list {
  width: 100%;
}

.how-to-list ol {
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}

.secret-page .devil-detail {
  white-space: wrap !important;
}