@media screen and (min-width: 669px) {
  .left-side {
    max-width: 16%;
    position: fixed;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .project-list {
    margin: .75rem 0;
  }
}

@media screen and (max-width: 668px) {
  .left-side {
    width: 100%;
  }
}

.name {
  border: 1px solid var(--color);
  width: fit-content;
  padding: .1rem 1rem;
  cursor: pointer;
  margin: 0.2rem;
  display: inline-block;
}

.name.active {
  background-color: var(--color)!important;
  color: #fff;
}