.projects__wrapper {
  padding: .5rem 2rem;
  margin-left: 21%;
  margin-top: 0;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  width: 100%;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.preview-box {
  font-size: 20px;
  padding: 1.2rem;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  /* background-color: var(--dark); */
  /* background-color: #e6e2d4; */
  background-color: #E4E1E1;
  color: var(--dark);

  border: 3px solid transparent;
  box-shadow: inset 0 0 0 3px var(--black);
  backdrop-filter: blur(5px);
  outline: 1px solid var(--black);

  min-width: 265px;
  float: left;
  margin-bottom: 40px;
}

@media screen and (min-width: 903px) {
  .preview-box {
    width: calc(100%/2.1);
  }
}

.project__img {
  height: 10em;
  /* height: auto; */
  overflow: hidden;
}

.preview-box img {
  width: 100%;
  /* border-radius: 1rem; */
  object-fit: cover;
  /* height: 100%; */
  min-height: 10em;
  object-position: top;
}

.right-side {
  flex: 1;
  overflow-y: auto;
}

.box__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 86px;
}

.box__header div {
  display: flex;
  justify-content: space-around;
  gap: .5rem;
}

.techs {
  display: flex;
  gap: .5rem;
  overflow: scroll;
}

.project-links,
.project-links a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.project-links span {
  border: 1px solid var(--dark);
  width: fit-content;
  padding: 1px 1rem;
  display: inline-block;
  border-radius: 1rem;
}

.project-links a {
  gap: .4rem;
}

@media screen and (max-width: 668px) {
  .projects__wrapper {
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0 auto;
  }
}