#contact-page {
  max-width: 1400px;
  margin: 0 auto; 
  padding: 0rem 5rem 2.5rem 5rem;
}

.contact__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12%;
}

.contact__header p {
  max-width: 250px;
  margin: 0;
  padding: 0;
}

.contact-question {
  font-size: 2.75rem;
  line-height: .9;
}

.contact-question h2 {
  font-weight: 500;
}

.contact-coment {
  margin: 60px 24px 75px 24px;
  font-size: 1.75rem;
  line-height: 1;
  padding-left: 10%;
  color: #000;
  backdrop-filter: blur(2px);
}

.dev-email {
  align-items: center;
  backdrop-filter: blur(3px);
  border-radius: .5rem;
  cursor: pointer;
  display: flex;
  font-size: 3rem;
  gap: 2rem;
  height: fit-content;
  position: relative;
  width: fit-content;
}

.dev-email>.arrow {
  transition: all .3s ease-in-out;
  height: 1.75rem;
}

.dev-email:hover>.arrow {
  transform: rotate(45deg);
}

.dev-email a {
  font-weight: 500;
}

.dev-email::before {
  content: "";
  position: absolute;
  left: -8%;
  background-image: url(https://res.cloudinary.com/drsfru9lj/image/upload/v1692129677/Portafolio/circulo-green_aznxxl.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 130%;
  height: 225%;
  z-index: -1;
}

.dev-email::after {
  content: "";
  width: 0px;
  height: 3px;
  background-color: #000;
  position: absolute;
  bottom: 5px;
  transition: all 0.45s ease-in-out;
}

.dev-email:hover::after {
  width: 100%;
}

.contact-hero-corner {
  bottom: auto;
  position: absolute;
  top: 15.75%;
  z-index: -1;
  width: 49.35rem;
  left: auto;
  right: -6%;
  transform: rotate(90deg);
}

.message-container {
  display: flex;
  align-items: center;
  gap: 15%;
  flex-wrap: wrap;
}

@media screen and (min-width: 1066px) {
  .contact-question {
    font-size: 5rem;
  }
}

@media screen and (max-width: 768px) {
  #contact-page {
    padding: 1.25rem 3rem;
  }

  .contact-hero-corner {
    bottom: 15%;
    left: 0%;
    right: auto;
    top: auto;
    transform: rotate(0deg);
    width: 100svw;
  }

  .contact__header p {
    margin-top: 30px;
  }

  .contact-coment {
    margin: 40px 0;
    padding: 0;

    font-size: 1.65rem;
    line-height: 1.1;
  }

  .dev-email {
    font-size: 1.9rem;
    gap: 1rem;
    margin-top: .75rem;
  }

  .dev-email>.arrow {
    height: 1rem;
  }

  .dev-email::before {
    /* height: 7.5rem;
    left: -10%;
    width: 21rem; */
    width: 115%;
    transform: rotate(-3deg);
    right: -10%;
  }

  .message-container {
    flex-direction: column;
    justify-content: center;
  }
}
