#hand {
  width: 2rem;
  transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-20deg) skew(0deg, 0deg);
}

#home-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.presentation-block:hover>.first-line>p {
  transform: translateY(-10px);
}

.presentation-block:hover .hand-container {
  transform: translate3d(0px, -0.8rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(35deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.hand-container {
  transition: transform 0.3s ease;
}

.first-line {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 10px;
}

.first-line p {
  transition: transform 0.3s ease;
}

.hero-section {
  overflow: hidden;
  padding: 3rem 5rem;
}

.hero-section h1 {
  font-size: 5.1rem;
  line-height: 5rem;
}

.hero-section p {
  font-weight: 400;
  font-size: 1.5rem;
}

.container {
  max-width: 717px;
  text-align: center;
  margin: auto;
}

/* IMAGES */
.hero-right-corner,
.hero-left-corner {
  bottom: auto;
  position: absolute;
  top: -6%;
  z-index: -1;
}

.hero-right-corner {
  top: 0%;
  width: 19rem;
  left: auto;
  right: 0%;
  transform: rotate(-90deg);
}

.hero-left-corner {
  width: 22rem;
  left: -6%;
  right: auto;
  transform: rotate(65deg);
}

.hero-sticker {
  bottom: 40%;
  z-index: -1;
  left: 10%;
  position: absolute;
  width: 5rem;
}

/* marquee */
#marquee-section {
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
}

.marquee {
  position: relative;
  display: flex;
  background-color: #000;
  color: #fff;
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee:before {
  left: 0;
  background: linear-gradient(to right, #000 19%, transparent 100%);
}

.marquee:after {
  right: 0;
  background: linear-gradient(to left, #000 19%, transparent 100%);
}

.loop__content {
  display: flex;
  align-items: center;
  animation: marquee_loop 15s linear infinite;
  will-change: transform;
  transform-style: preserve-3d;
}

.call-to-action {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  font-size: larger;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--shiraz);
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}

.spinning_border {
  position: absolute;
  top: -1000%;
  right: -1000%;
  bottom: -1000%;
  left: -1000%;
  animation: spin 2s linear infinite;
  background-image: conic-gradient(from 90deg at 50% 50%, var(--working-red-grad-1) 0%, var(--working-red-grad-2) 50%, var(--working-red-grad-1) 100%);
}

.action-separator {
  margin: 0 2.4rem;
}

.action-separator img {
  width: 6rem;
}

@keyframes marquee_loop {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.marque {
  width: 100%;
  overflow: hidden;
  color: #f2f2f2;
}

.marque div {
  display: block;
  width: 200%;
  background-color: #181818;
  padding: 1rem;
  position: absolute;
  overflow-x: hidden;

  animation: marquee 10s linear infinite;
  transition: transform 1s ease-in-out;
}

.loop_content {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@keyframes marquee_loop2 {
  0% {
    transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  100% {
    transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}

.ticket__title .mobile_social__icon {
  display: none;
}

.home__btns {
  padding: .75rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.home__btns a {
  max-width: 10em;
  margin: 0;
}

.home__btn,
.home__btn p {
  font-size: 14px !important;
  font-weight: bold;
  font-family: 'Helvetica' !important;
}

.home__btn {
  display: flex;
  gap: .4rem;
  align-items: center;
  justify-content: center;
}

.line {
  margin: 1.5rem 0;
  position: relative;
  display: inline-flex;
  overflow: hidden;
  border-radius: 9999px;
  padding: 1px;
}

.line p {
  --spinning-border-bg: var(--working-red-l);
}

.dark-theme .line p {
  --spinning-border-bg: var(--working-red-d);
}

.line p.line_text {
  font-size: 1.25rem !important;
  display: inline-flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  white-space: nowrap;
  background-color: var(--spinning-border-bg);
  cursor: pointer;
  backdrop-filter: blur(64px);
}

/* QUALITIES */
.qualities__wrapper {
  width: 100%;
  background-color: transparent;
}

.dark-theme .qualities__wrapper {
  background-color: var(--blueCharcoal) !important;
}

.qualities {
  background-image: var(--crisp), linear-gradient(var(--squeeze), var(--squeeze));
  border-bottom-left-radius: 2.75rem;
  border-bottom-right-radius: 2.75rem;
  padding-bottom: 5rem;
  padding: 4rem;
  width: 100%;
}

.dark-theme .qualities {
  background-image: url(https://res.cloudinary.com/drsfru9lj/image/upload/v1687285497/Portafolio/crisp_q9lzph.png),
    radial-gradient(140% 107.13% at 50% 10%, transparent 37.41%, var(--violet) 69.27%, #fff 100%) !important;
}

.qualities .container h2 {
  font-size: 2.9rem;
  font-weight: bold;
  letter-spacing: .5px;
  max-width: 450px;
  line-height: 50px;
}

.qualities .container p:nth-child(2) {
  margin-top: .75rem;
  color: #807b7b;
  /* color: #454545; */
  font-size: 1.75rem;
  font-weight: 300;
  max-width: 450px;
}

.qualities p {
  font-weight: 500;
  font-size: 1.25rem;
}

.qualities-list {
  background-image: url(https://res.cloudinary.com/drsfru9lj/image/upload/v1687285497/Portafolio/crisp_q9lzph.png), linear-gradient(#f2f2f2, #f2f2f2);
  max-width: 875px;
  margin-top: 1.25rem;
  display: flex;
  gap: 2.5rem;
  padding: 1.5rem 1rem;
  border-radius: 2rem;
  width: fit-content;
}

.card-block {
  min-width: 250px;
  text-align: center;
  gap: 1.5rem;
  /* color: #716360; */
  color: #52473c;
  min-height: 315px;
  justify-content: flex-start;
}

.card-block:nth-child(2) {
  transform: translateY(25px);
}

.card-block img {
  width: 8rem;
  height: auto;
  filter: drop-shadow(2px 0px 2px black);
}

@media screen and (max-width: 899px) {
  .qualities-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-block {
    max-width: 260px;
  }

  .card-block:nth-child(2) {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    padding: 1rem;
  }

  .hero-section h1 {
    font-size: 3.2rem;
    line-height: 3.5rem;
  }

  .qualities {
    padding: 1rem 1rem 2rem;
  }

  .qualities-list {
    flex-direction: column;
    align-items: center;
    width: 95%;
  }

  .qualities .container h2 {
    padding: 0 .5rem;
  }

  .hero-right-corner,
  .hero-left-corner,
  .hero-sticker {
    display: none
  }

  .container {
    padding: .5rem;
  }

  .ticket__title .mobile_social__icon {
    display: inline-block;
    font-size: 1.5rem;
  }

  .home__btns .ticket {
    width: fit-content;
  }

  .home__btn {
    display: none;
  }

  .home__btns {
    gap: 1rem;
    flex-wrap: wrap;
  }

}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}