/* #projects-wrapper {
  background-image: url(https://res.cloudinary.com/drsfru9lj/image/upload/v1687285497/Portafolio/crisp_q9lzph.png), linear-gradient(#e9c6dd, #e9c6dd); 
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
  height: 100%;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 5%;
}

#projects-page {
  padding: 1rem;
} */

/* #wrapper-layer {
  background-image: url(https://res.cloudinary.com/drsfru9lj/image/upload/v1687285497/Portafolio/crisp_q9lzph.png), linear-gradient(#e9c6dd, #e9c6dd); 
  height: 20rem;
  position: absolute;
  width: 90%;
}

body {
  display: flex;
  justify-content: center;
} */