#error-page {
  width: 100%;
  position: absolute;
  top: 0;
  background-image: var(--crisp), var(--error);
  padding: 10rem 5rem 5rem 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.8rem;
  border-bottom-left-radius: 4.5rem;
  border-bottom-right-radius: 4.5rem;
}

.lost-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.lost-container h1 {
  color: var(--hippie);
  font-size: 5em;
  filter: drop-shadow(2px 4px 6px black);
}

.lost-container h2 {
  color: var(--color);
  font-size: 2.4em;
}

.lost-container p {
  font-size: 1.4em;
  color: var(--stone);
}

.not-found-gif {
  width: 20rem;
  height: auto;
  object-fit: scale-down;
}

#lost-btn {
  border: 1px solid #000;
  border-radius: 1rem;
  padding: .5rem;
  background-color: var(--hippie);
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: background .2s ease-in-out;
}

#lost-btn:hover {
  background-color: var(--hippie2);
}

.error-btn {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: .75rem;
}

.error-btn img {
  width: 5rem;
  height: 1rem;
  object-fit: cover;
}

@media screen and (max-width: 500px) {
  #error-page {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .not-found-gif {
    width: 19rem;
  }
}